ADMIN_USERNAME=admin
ADMIN_PASSWORD=noavaran2026
NEXT_PUBLIC_SITE_URL=https://noavaranpanjereh.vercel.app

# Google Search Console & Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
